@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&display=swap');
@import "../javascript/Views/App/app.css";
@import "../javascript/Views/Cards/cards.css";
@import "../javascript/Views/CustomSelect/customSelect.css";
@import "../javascript/Views/Map/map.css";
@import "../javascript/Views/Modal/css/modal.css";
@import "../javascript/Views/Modal/css/restaurantInfos.css";
@import "../javascript/Views/Modal/css/addRestaurant.css";
@import "../javascript/Views/Searchbar/searchbar.css";
@import "../javascript/Views/ButtonAddRestaurant/addButtonRestaurant.css";

:root {
    --primary : #592F25;
    --secondary : #736A62;
    --third : #BF8B5E;
    --light : #A3AFBF;
    --dark : #0D0D0D;
}

body {
    margin: 0;
}



