@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&display=swap');

:root {
    --primary : #592F25;
    --secondary : #736A62;
    --third : #BF8B5E;
    --light : #A3AFBF;
    --dark : #0D0D0D;
}

body {
    margin: 0;
}

.app {
    display: flex;
    flex-direction: column;
}

.header-container {
    display: flex;
    width: 100vw;
    height: 75px;
    background-color: #FFFFFF;
    -webkit-box-shadow: 0 0 15px -6px rgba(0,0,0,0.98);
    box-shadow: 0 0 15px -6px rgba(0,0,0,0.98);
    position: relative;
    z-index: 2;
}

.header-container .brand {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
}

.header-container .brand .fa-utensils {
    position: relative;
    padding: 0 10px 0 0;
    font-size: 35px;
    border-right: 2px solid #0D0D0D;
}

.header-container .brand h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 2.7em;
    margin: -4px 6px 0 8px;
}

.header-container .brand h1 span {
    font-family: 'Oswald ExtraLight', sans-serif;
    color: var(--dark);
}

.header-container .spacer-15 {
    width: 15px;
}

.header-container .spacer-20 {
    width: 20px;
}

.header-container .search-container {
    display: flex;
    align-items: center;
    width: 25%;
    position: relative;
    z-index: 5;
}

.header-container .search-container .search {
    display: flex;
    align-items: center;
    background-color: #F1F3F4;
    color: #0D0D0D;
    box-shadow: inset 0 -1px 0 #0D0D0D;
    height: 30%;
    width: 100%;
    padding: 10px;
}

.header-container .search-container .search .search-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 24px;
    width: 24px;
}

.header-container .search-container .search #input-search {
    font-family: 'Oswald', sans-serif;
    font-size: 15px;
    background-color: #F1F3F4;
    color: #0D0D0D;
    height: 100%;
    width: 100%;
    padding: 0;
    border: none;
}

.header-container .search-container .search #input-search::placeholder {
    color: #0D0D0D;
}

.header-container .search-container .search #input-search:focus {
    outline: none;
}

.main {
    display: flex;
    width: 100vw;
}

.main #map {
    width: calc(100vw - 300px);
    height: calc(100vh - 75px);
}

.left-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 300px;
    height: calc(100vh - 75px);
    -webkit-box-shadow: 4px 0 8px -3px rgba(0,0,0,0.65);
    box-shadow: 4px 0 8px -3px rgba(0,0,0,0.65);
    z-index: 1;
}

.left-menu .infos-restaurant {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0 0 0 0;
    overflow: auto;
    -webkit-box-shadow: inset 0 0 15px -6px rgba(0,0,0,0.98);
    box-shadow: inset 0 0 15px -6px rgba(0,0,0,0.98);
}
.left-menu .infos-restaurant::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

.left-menu .infos-restaurant::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

.left-menu .infos-restaurant::-webkit-scrollbar-thumb
{
    background-color: var(--dark);
}

.left-menu .infos-restaurant .info-card-restaurant {
    display: flex;
    align-items: center;
    background-color: #F1F3F4;
    width: 95%;
    min-height: 110px;
    margin-top: 10px;
    cursor: pointer;
}

.left-menu .infos-restaurant .info-card-restaurant .info-card-restaurant-left {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100px;
}

.left-menu .infos-restaurant .info-card-restaurant .info-card-restaurant-left img {
    height: 90%;
    width: 90%;
    object-fit: cover;
}

.left-menu .infos-restaurant .info-card-restaurant .info-card-restaurant-right {
    display: flex;
    flex-direction: column;
    height: 90%;
    width: calc(100% - 100px);
}

.left-menu .infos-restaurant .info-card-restaurant .info-card-restaurant-right .info-card-restaurant-main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 10px;
}

.left-menu .infos-restaurant .info-card-restaurant .info-card-restaurant-right .info-card-restaurant-main .info-card-restaurant-name {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 1.1em;
}

.left-menu .infos-restaurant .info-card-restaurant .info-card-restaurant-right .info-card-restaurant-main .info-card-restaurant-adress {
    font-family: 'Oswald', sans-serif;
    font-size: 0.9em;
}

.left-menu .infos-restaurant .info-card-restaurant .info-card-restaurant-right .info-card-restaurant-rate {
    margin: 8px 0 0 8px;
    font-family: 'Oswald', sans-serif;
    font-size: 0.9em;
}

