.main .overlay-container .overlay-add-restaurant {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.main .overlay-container .overlay-add-restaurant h2 {
    display: flex;
    align-items: center;
    font-family: 'Oswald', sans-serif;
    height: 30px;
    margin-left: 25px;
}

.main .overlay-container .overlay-add-restaurant .overlay-add-restaurant-instructions {
    font-family: 'Oswald', sans-serif;
    height: 35px;
    margin-left: 25px;
}

.main .overlay-container .overlay-add-restaurant .overlay-add-restaurant-forms {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-left: 25px;
    height: calc(100% - 30px);
}

.main .overlay-container .overlay-add-restaurant .overlay-add-restaurant-forms .overlay-add-restaurant-forms-container {
    display: flex;
    flex-direction: column;
    margin-right: 25px;
}

.main .overlay-container .overlay-add-restaurant .overlay-add-restaurant-forms .overlay-add-restaurant-form {
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
    box-shadow: inset 0 -1px 0 #0d0d0d;
    border: none;
    height: 20%;
    width: 300px;
    padding: 10px;
    margin-bottom: 20px;
}

.main .overlay-container .overlay-add-restaurant .overlay-add-restaurant-forms .overlay-add-restaurant-form input {
    font-family: 'Oswald', sans-serif;
    font-size: 15px;
    background-color: #FFFFFF;
    color: #0D0D0D;
    height: 100%;
    width: 100%;
    padding: 0;
    border: none;
}

.main .overlay-container .overlay-add-restaurant .overlay-add-restaurant-forms .overlay-add-restaurant-form input:focus {
    outline: none;
}

.main .overlay-container .overlay-add-restaurant .overlay-add-restaurant-forms button {
    height: 41px;
    width: 150px;
    border: none;
    box-shadow: inset 0 -1px 0 #0d0d0d;
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
    margin-bottom: 20px;
    transition: all 0.5s ease-out;
}

.main .overlay-container .overlay-add-restaurant .overlay-add-restaurant-forms .button-cancel {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 41px;
    width: 150px;
    border: none;
    box-shadow: inset 0 -1px 0 #0d0d0d;
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
    margin-bottom: 20px;
    transition: all 0.5s ease-out;
}

.main .overlay-container .overlay-add-restaurant .overlay-add-restaurant-forms button:hover,
.main .overlay-container .overlay-add-restaurant .overlay-add-restaurant-forms .button-cancel{
    cursor: pointer;
}

.main .overlay-container .overlay-add-restaurant .overlay-add-restaurant-forms #add {
    background-color: #EA4335;
}
.main .overlay-container .overlay-add-restaurant .overlay-add-restaurant-forms #add:hover {
    background-color: #86181d;
    color: #F5F5F5;
}

.main .overlay-container .overlay-add-restaurant .overlay-add-restaurant-forms #cancel {
    background-color: #A3AFBF;
}

.main .overlay-container .overlay-add-restaurant .overlay-add-restaurant-forms #cancel:hover {
    background-color: #818897;
    color: #F5F5F5;
}

